<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer type</title>
    <style>
        #header{text-align:center; margin-top:20px;}
        button{width:200px;}
        #frame{list-style: none; margin-left: 250px; margin-top:100px;}
        .divbox{float: left; width:200px; margin:10px;}
        h4{text-align: center;}
        body{font-family: 'Courier New', Courier, monospace;}
    </style>
</head>
<body>
    <div id="header">{{rname}} 님 반갑습니다.</br></br></br>사용자 타입을 설정해주세요.</br>사용자 타입에 따라 다양한 서비스가 제공됩니다.</div>
<ol id="frame">
    <li class="divbox">
        <h4>병원 관계자</h4>
        <ul>
            <li>현재 예약자 명단 관리</li></br>
            <li>방문 환자 이력 관리</li></br>
            <li>처방전 작성</li></br>
            <li>등록 환자 정보 관리</li></br>
            <li>예약 환자 정보 관리</li></br>
        </ul>
        <form action="{{url_for('typeh')}}" method="POST">
            <input type="hidden" value={{rname}} name="name">
            <button type="submit">이동하기</button>
        </form>
    </li>

    <li class="divbox">
        <h4>약국 관계자</h4>
        <ul>
            <li>방문 환자 이력 관리</li></br>
            <li>예약 환자 처방전 확인</li></br>
            <li>처방전 작성</li></br>
        </ul>
        <form action="{{url_for('typeph')}}" method="POST">
            <input type="hidden" value={{rname}} name="name">
            <button type="submit">이동하기</button>
        </form>
    </li>

    <li class="divbox">
        <h4>환자</h4>
        <ul>
            <li>병원 검색</li></br>
            <li>병원 외래진료 예약</li></br>
            <li>병원 처방내역 확인</li></br>
            <li>약국 검색</li></br>
            <li>약국 방문 예약</li></br>
        </ul>
        <form action="{{url_for('typept')}}" method="POST">
            <input type="hidden" value={{rname}} name="name">
            <button type="submit">이동하기</button>
        </form>
    </li>
</ol>
</body>
</html>