<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients list</title>
    <style>
    td{font-size:12px; font-family: 'Courier New', Courier, monospace;}
    th{font-size:14px; font-family: 'Courier New', Courier, monospace; text-align: center;}
    </style>
</head>
<body>
    <form action="{{url_for('send')}}", method="POST">
    <button type="submit">자주가는 병원 등록하기</button>
    <table>
        <thead>
            <tr>
                <th>병원명</th>
                <th>주소</th>
                <th>진료과목</th>
                <th>의료진 수</th>
                <th>평일 진료시간</th>
                <th>주말 진료시간(토)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td><input type="checkbox" name="name" value="{{row['name']}}">{{ row['name'] }}</td>
                <td>{{ row['address'] }}</td>
                <td>{{ row['subject'] }}</td>
                <td>{{ row['drcnt'] }}</td>
                <td>{{ row['timeweek'] }}</td>
                <td>{{ row['timesat'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
</body>
</html>