<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients list</title>
    <style rel="stylesheet" type="text/css">
    td{font-size:12px; font-family: 'Courier New', Courier, monospace; border:1px solid black;}
    th{font-size:14px; font-family: 'Courier New', Courier, monospace; text-align: center; border:1px solid black;}
    #caution{font-size: 10px; font-family: 'Courier New', Courier, monospace;}
    table{border: 1px solid black;}
    </style>

</head>
<body>
    <form method="POST">
    <input type="text" name="patient" placeholder="예약환자명">
    <input type="text" name="phone" placeholder="핸드폰 번호">
    <input type="text" name="time" placeholder="예약시간">
    <button formaction="{{url_for('reserveMed')}}" type="submit">약국 예약하기</button>

    <div id="caution">예약시 에약환자명과 예약시간은 반드시 입력해주세요. 입력하지않은 경우 예약이 정상적으로 진행되지 않습니다.</div>
</br>
    <table>
        <thead>
            <tr>
                <th>약국명</th>
                <th>주소</th>
                <th>전화번호</th>
                <th>처방가능여부</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td><input type="checkbox" name="name" value="{{row['name']}}">{{ row['name'] }}</td>
                <td>{{ row['address'] }}</td>
                <td>{{ row['tel'] }}</td>
                <td>{{ row['prescribe'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
</body>
</html>