<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Service</title>
    <style rel="stylesheet" type="text/css">
        #map-box{position:absolute; right: 50px; top: 50px;}
        #map-form{position:absolute; right: 50px; top:370px;}
        #user-name{position:absolute; right: 150px; top: 20px;}
        #logout-box{position: absolute; right:50px; top:20px; width:80px;}
        body{font-family: 'Courier New', Courier, monospace;}
        .description{font-size:13px;}
        h4{margin-bottom: 10px;}
    </style>
</head>
<body>
    <form method="POST" target="map-box" id="map-form">
        <input type="text" name="name" placeholder="'병원'까지 입력해주세요.">
        <button formaction="{{url_for('mapping')}}" >지도 보기</button>
    </form>
    <iframe name="map-box" frameborder="10" width="400" height="300" id="map-box"></iframe>

    <div id="user-name">{{name}}님</div>
    <button id="logout-box"><a href="/">로그아웃</a></button>
    <h3>서울특별시 병원/약국 정보 검색</h3>
    <ul>
        <li>
            <h4>이름으로 검색하기</h4>
            <div class="description">병원명/약국명을 입력해주세요. </br> 주소, 의료진 수, 진료과목, 진료시간을 확인할 수 있습니다.</div>
            <form method="POST" target="result-box">
                <input type="text" name="name" placeholder="의료기관명">
                <button formaction="{{url_for('selectHospitalName')}}" type="submit">검색하기</button>
                <input type="text" name="phname" placeholder="약국명">
                <button formaction="{{url_for('selectPharmacyName')}}" type="submit">검색하기</button>
            </form>
        </li>
        <li>
            <h4>주소로 검색하기(구/동)</h4>
            <div class="description">주소를 입력해주세요. </br> 기관명, 의료진 수, 진료과목, 진료시간을 확인할 수 있습니다.</div>
            <form action="{{url_for('selectHospitalAddress')}}" method="POST" target="result-box">
                <input type="text" name="address" placeholder="의료기관 주소(구/동)">
                <button type="submit">검색하기</button>
                <input type="text" name="phaddress" placeholder="약국 주소(구/동)">
                <button formaction="{{url_for('selectPharmacyAddress')}}" type="submit">검색하기</button>
            </form>
        </li>
        <li>
            <h4>진료과목으로 검색하기</h4>
            <div class="description">진료과목으로 입력해주세요. </br>병원명, 주소, 의료진 수, 진료과목, 진료시간을 확인할 수 있습니다.
        </br></br>내과|신경과|정신건강의학과|외과|정형외과|신경외과|흉부외과|성형외과|마취통증의학과|산부인과
            </br>영상의학과|진단검사의학과|소아청소년과|피부과|재활의학과|가정의학과|응급의학과|안과|비뇨의학과
            </br>치과|구강악안면외과|치과보철과|치과교정과|소아치과|치주과|치과보존과|구강내과|영상치의학과|구강병리과|예방치과
            </br>한방내과|한방부인과|한방소아과|한방안·이비인후·피부과|한방신경정신과|침구과|한방재활의학과|사상체질과
            </div>
            <form action="{{url_for('selectHospitalSubject')}}" method="POST" target="result-box" >
                <input type="text" name="subject" placeholder="진료과목">
                <button type="submit">검색하기</button>
            </form>
            
        </li>
    </ul>
    <iframe name="result-box" frameborder="10" height="350" width="800"></iframe>
</br>
<h4>처방 내역 확인하기</h4>
<form method="POST" target="prescribe-box">
    <input type="text" name="name" placeholder="환자명">
    <button formaction="{{url_for('record')}}" type="submit">확인하기</button>
</form>
</br>
<iframe name="prescribe-box" frameborder="10" height="200" width="800"></iframe>

</body>
</html>