<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style rel="stylesheet" type="text/css">
        body{font-family: 'Courier New', Courier, monospace;}
        #header{font-size:14px;}
        button{float: right;}
        table{border: 1px solid black;}
        td{border: 1px solid black;}
        th{border: 1px solid black;}
    </style>
</head>
<body>
<form method="POST">
    <div id="header">{{pharmacy}} 예약 환자 내역입니다.</div>
    <input type="hidden" name="pharmacy" value="{{pharmacy}}">
    <button formaction="{{url_for('checkMed')}}" type="submit" id="check_btn">처방 전 방문확인</button>
    <button formaction="{{url_for('finish')}}" type="submit" id="finish-btn">처방완료</button>
    <button formaction="{{url_for('cancelMed')}}" type="submit" id="delete_btn">삭제하기</button>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>핸드폰 번호</th>
                <th>예약시간</th>
                <th>처방여부</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td><input type="checkbox" name="name" value="{{row['name']}}">{{ row['name'] }}</td>
                <td>{{ row['phone'] }}</td>
                <td>{{ row['time'] }}</td>
                <td>{{ row['prescription'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</body>
</html>