<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Administration - Prescription</title>
    <style rel="sytlesheet" type="text/css">
        body{font-family: 'Courier New', Courier, monospace;}
        div{text-align: center;}
        #prescribe_btn{position:absolute; margin-left: 500px;}
    </style>
</head>
<body>
    {% for row in result %}
    <div>처 방 전</div>
    <form method="POST">
        <input type="hidden" name="pharmacy" value="{{pharmacy}}">
        <input type="hidden" name="hospital" value="{{ row['hospital'] }}">
        <input type="hidden" name="patient" value="{{ row['name'] }}">
        <input type="hidden" name="pdate" value="{{ row['pdate'] }}">
        <button formaction="{{url_for('saveMed')}}" type="submit" id="prescribe_btn">처방하기</button>
        <ol>
            <li>발급 연월일 : {{ row['pdate'] }}</li>
            <li>환자 성명 : {{ row['name'] }}</li>
            <li>
                <ul>
                    <li>처방 의약품 명칭 : {{ row['pmedicine'] }}</li>
                    <li>1회 투약량 : {{ row['pvolume'] }}</li>
                    <li>1회 투여횟수 : {{ row['ptimes'] }}</li>
                    <li>총 투약일수 : {{ row['pperiod'] }}</li>
                </ul>
            </li>
            <li>의료기관 명칭 : {{ row['hospital'] }}</li>
            <li>조제기관 명칭 : {{pharmacy}}</li>
            <li>조제 연월일: <input type="datetime-local" name="date"></li>
            <li>내용: <input type="text" name="text"></li>
        </ol>  
    </form>
    {% endfor %}
  
</body>
</html>